p {
font-family: monospace;
text-align: justify;
}

.title {
font-family: 'Calisto MT';
font-weight: bold;
}

.subtitle {
font-weight: bold;
}

.intro {
border: 5px solid black;
padding: 10px 20px;
width: 50%;
font-size: 15px;
}

.tab {
font-family: 'Calisto MT';
}